a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

body {
margin-left:150px;
margin-right: 150px;
background-color:gray;
color:aquamarine;

}

.navigation{
text-align:center;


}

h1 {
    text-align:center;
}

